@import '~@fortawesome/fontawesome-free/css/all.min.css';
@import '~@fortawesome/fontawesome-free/scss/fontawesome';
@import './normalize.scss';


body {
  background: linear-gradient(rgba(3, 1, 11, 0.81), rgba(3, 1, 11, 0.81)), url(../assets/bg.jpg) 50%/cover no-repeat ;  
}

.wrapper {
  max-width: 1400px;
  min-width: 300px;
  width: 80vw;
  height: 100vh;
  margin: 0 auto;
  padding: 30px 50px;
}


.filed {
  outline: 1px solid red;
}
.caption{
  text-align: center;
  color: red;
  font-size: 10px; 
}